:root {
  color: #292929;
  background-color:#ffffff;
  --color-link: #090088;
  /* --color-link-visited: #090088; */
  /* --color-link-hover: #090088; */
  font-family: 'LinBiolinum', 'sans-serif' !important;
}
/* @font-face {
    font-family: 'LinBiolinum';
    src: url('./Fonts/LinBiolinum_R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LinBiolinum';
    src: url('./Fonts/LinBiolinum_RB.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
} */

a {
  color: var(--color-link);
}

body {
  margin: 0;
  padding: 16px;
  max-width: 900px;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 1%;
}

header {
  margin-bottom: 0px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  max-width: 80%;
  padding-right: 15px;
  margin: 0;
}

header h1 {
  font-size: 28px;
  margin-bottom: 0px;
}

header p {
  font-size: 16px;
  color: #40404b;
  margin-bottom: -10px;
}

header p.small {
  font-size: 16px;
  color: #6e6e7a;
  margin-bottom: -10px;
}

header img {
  margin-top: 55px;
  width: 160px;
  height: 160px;
  border-radius: 10px; /* This line rounds the corners */
}

main section {
  margin-bottom: 16px;
  max-width: 100%;
}

main section p {
  font-size: 16px;
}

main section h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

#about {
  padding-top: 5%;
}

main section links {
  padding-left: 100px;
}